{% extends 'base.html.twig' %}

{% block title %}Créer un Article{% endblock %}

{% block body %}
<h1>Créer un Article</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
{{ form_end(form) }}

<a href="{{ path('article_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}
